@{
    ViewData["Title"] = "Availability";
    Layout = "~/Views/Shared/_LayoutWithTabs.cshtml";
}

@*@model WebFinalProject.Models.UserModel*@
<body>


    <!-- Main content -->
    <div id="content" style="margin-left: 250px; padding: 20px;">
        <h1>Welcome to the Availability Page</h1>
    </div>

</body>