@{
    ViewData["Title"] = "Faculty";
    Layout = "~/Views/Shared/_LayoutWithTabs.cshtml";
}

<body>
    <div class="content-section" id="faculty-content">
        <h1>Welcome to the Faculty Page</h1>
        <!-- Add Home-specific content here -->
    </div>
</body>
