@{
    ViewData["Title"] = "Faculty";
    Layout = "~/Views/Shared/_LayoutWithTabs.cshtml";
}

@model IEnumerable<WebFinalProject.Models.FacultyModel>
<body>
    <div style="padding: 10px; background-color: palevioletred; display: flex; width: 100%">
        <input type="text" id="searchQuery" name="q" class="form-control" placeholder="Search for Faculty." style="padding: 5px;width: 100%">
        <button type="submit" style="color: white; background-color: palevioletred; font-weight: bold; right: 0; border: none; font-size: 20px;">Search</button>
    </div>

    <table style="margin-top: 20px; width: 100%">

        <tbody style="width: 100%">
            @foreach (var faculty in Model)
            {
                <tr style="width: 100%;">
                    <td style="color: palevioletred; font-size: 17px; font-weight: bold; padding: 10px; border: solid; border-color: palevioletred; border-width: 2px; width: 100%; margin-top: 7px;">@faculty.Name</td>
                </tr>
            }
        </tbody>
    </table>
    

</body>
