@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutWithTabs.cshtml";
}

<div class="content-section" id="profile-content">
    <h1>Welcome to the Profile Page</h1>
    <!-- Add Home-specific content here -->
</div>